spring:
  datasource:
    url: jdbc:h2:mem:testdb

  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: validate

    properties:
      hibernate:
        format_sql: true

    show-sql: true

  sql:
    init:
      mode: always
      data-locations: data.sql
      schema-locations: schema.sql

  h2:
    console:
      path: /h2-console
      settings:
        web-allow-others: true

logging:
  level:
    ROOT: error